{% extends "base.html" %}

{% block title %}会員登録{% endblock %}

{% block content %}
	<h1>会員登録</h1>
	<p>*印のついた項目は入力必須です。</p>
	
	{% if empty_request %}
		<p style="color: red; font-weight: bold;">
			入力必須項目が空白です。
		</p>
	{% endif %}
	
	{% if double_username %}
		<p style="color: red; font-weight: bold;">
			そのユーザー名は既に使われています。
		</p>
	{% endif %}
	
	{% if miss_password %}
		<p style="color: red; font-weight: bold;">
			パスワードが一致しません。
		</p>
	{% endif %}
	
	<form method="POST" action="post/">
		{% csrf_token %}
		<table>
			<tr>
				<td>*アカウント名</td>
				<td><input type="text" name="username"></td>
			</tr>
			<tr>
				<td>姓</td>
				<td><input type="text" name="family_name"></td>
			</tr>
			<tr>
				<td>名</td>
				<td><input type="text" name="first_name"></td>
			</tr>
			<tr>
				<td>*Eメール アドレス</td>
				<td><input type="email" name="email"></td>
			</tr>
			<tr>
				<td>*パスワード</td>
				<td><input type="password" name="password"></td>
			<tr>
				<td>*パスワード (確認)</td>
				<td><input type="password" name="password2"></td>
			</tr>
		</table>
		<input type="submit" value="送信">
	</form>
{% endblock %}
